## **Installing Necessary Libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import calendar
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Data Loading & Make ready for Preprocessing**

In [3]:
## Loading the data
path ='/content/drive/MyDrive/Thesis/Research Data/Original_Data/3-Hourly Station Level Pressure.csv'
df = pd.read_csv(path, low_memory=False)
df

,StationName,StationID,Latitude,Longitude,Year,Month,Time,1,2,3,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1011.7,1011.9,1013,...,1013.7,1011.3,1011.2,1013.8,1011.3,1010.4,1006.6,1006.3,1008.3,1011.2
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1014.8,1014.3,1015.4,...,1016.4,1013.3,1014,1016.1,1013.6,1012.3,1009.2,1008.3,1012,1013.5
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1013.4,1014,1015,...,1014.7,1012.7,1013.4,1014.8,1012.4,1011.2,1007.8,1007.8,1011.2,1012.7
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1011.2,1013.3,1012.6,...,1012,1011.1,1011.2,1011.8,1010.2,1008.1,1005.4,1006.4,1009.3,1010.9
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1011.4,1012.2,1013.1,...,1011.9,1009.9,1011.5,1012.6,1009,1006.8,1005.7,1006.1,1009.9,1011.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139003,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,9,1008,1007.5,1007.9,...,1008.5,1007.7,1007.7,1010.5,1010.6,1012.7,1013.1,1014.7,1015.1,1014.7
139004,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,12,1009.1,1008.6,1010.1,...,1009.4,1008.1,1007.8,1009.8,1010.6,1013.5,1013.2,1014.1,1015.5,1014.9
139005,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,15,1010.3,1010.6,1011.2,...,1009,1008.8,1005.4,1008.2,1016.7,1012.9,1013.9,1015.9,1016.8,1016.5
139006,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,18,1009.8,1009.8,1010.7,...,1008.7,1008.5,1006.6,1008.1,1016.3,1012.6,1013.8,1015.7,1016.5,1016.4
139007,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,21,1009.4,1009.4,1010.3,...,1008.4,1008.4,1006.3,1008,1015.8,1012.3,1013.6,1015.4,1016.5,1016

In [4]:
# Melt the DataFrame into a long format
df_pressure = pd.melt(df, id_vars=['StationName','StationID','Latitude','Longitude', 'Year', 'Month', 'Time'], var_name='Day', value_name='StationLevelPressure')
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,1011.7
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,1014.8
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,1013.4
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,1011.2
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,1011.4
...,...,...,...,...,...,...,...,...,...
4309243,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,9,31,1014.7
4309244,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,12,31,1014.9
4309245,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,15,31,1016.5
4309246,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,18,31,1016.4
4309247,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,21,31,1016

In [5]:
## Find the datatypes of the columns
df_pressure.dtypes

StationName             object
StationID                int64
Latitude                object
Longitude               object
Year                     int64
Month                    int64
Time                     int64
Day                     object
StationLevelPressure    object
dtype: object

In [6]:
df_pressure.shape

(4309248, 9)

In [7]:
# Find unique values in 'Month column
df_pressure['StationName'].unique()

array(['Dhaka', 'Tangail', 'Mymensingh', 'Faridpur', 'Madaripur',
       'Srimangal', 'Sylhet', 'Bogura', 'Dinajpur', 'Ishurdi', 'Rajshahi',
       'Rangpur', 'Saidpur', 'Chuadanga', 'Jessore', 'Khulna', 'Mongla',
       'Satkhira', 'Barishal', 'Bhola', 'Khepupara', 'Patuakhali',
       'Chandpur', 'Ambagan(Ctg.)', 'Chittagong', 'Cumilla', "Cox'sBazar",
       'Feni', 'Hatiya', 'Kutubdia', 'Maijdee_court', 'Rangamati',
       'Sandwip', 'Sitakunda', 'Teknaf'], dtype=object)

In [8]:
# Count unique StationIDs
num_unique_station_name = df_pressure['StationName'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_name}")

Count of unique Station IDs: 35

In [9]:
# Find unique values in 'Year column
df_pressure['StationID'].unique()

array([11111, 41909, 10609, 11505, 11513, 10724, 10705, 10408, 10120,
       10910, 10320, 10208, 41858, 41926, 11407, 11604, 41958, 11610,
       11704, 11706, 12110, 12103, 11316, 41977, 11921, 11313, 11927,
       11805, 11814, 11925, 11809, 12007, 11916, 11912, 11929])

In [10]:
# Count unique StationIDs
num_unique_station_ids = df_pressure['StationID'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_ids}")

Count of unique Station IDs: 35

In [11]:
# Find unique values in 'Month column
df_pressure['Latitude'].unique()

array(['23Deg.46Mts.N', '24Deg.15Mts.N', '24Deg.43Mts.N', '23Deg.36Mts.N',
       '23Deg.10Mts.N', '24Deg.18Mts.N', '24Deg.54Mts.N', '24Deg.51Mts.N',
       '25Deg.39Mts.N', '24Deg.8Mts.N', '24Deg.22Mts.N', '25Deg.44Mts.N',
       '25Deg.47Mts.N', '23Deg.39Mts.N', '23Deg.11Mts.N', '22Deg.47Mts.N',
       '22Deg.20Mts.N', '22Deg.43Mts.N', '22Deg.45Mts.N', '22Deg.41Mts.N',
       '21Deg.59Mts.N', '23Deg.16Mts.N', '22Deg.21Mts.N', '22Deg.16Mts.N',
       '23Deg.26Mts.N', '21Deg.26Mts.N', '23Deg.2Mts.N', '22Deg.26Mts.N',
       '21Deg.49Mts.N', '22Deg.52Mts.N', '22Deg.32Mts.N', '22Deg.29Mts.N',
       '23Deg.35Mts.N', '20Deg.52Mts.N'], dtype=object)

In [12]:
# Count unique StationIDs
num_unique_latitude = df_pressure['Latitude'].nunique()

print(f"Count of unique Station IDs: {num_unique_latitude}")

Count of unique Station IDs: 34

In [13]:
# Find unique values in 'Month column
df_pressure['Longitude'].unique()

array(['90Deg.23Mts.E', '89Deg.55Mts.E', '90Deg.26Mts.E', '89Deg.51Mts.E',
       '90Deg.11Mts.E', '91Deg.44Mts.E', '91Deg.53Mts.E', '89Deg.22Mts.E',
       '88Deg.41Mts.E', '89Deg.3Mts.E', '88Deg.42Mts.E', '89Deg.14Mts.E',
       '88Deg.53Mts.E', '88Deg.52Mts.E', '89Deg.10Mts.E', '89Deg.32Mts.E',
       '89Deg.36Mts.E', '89Deg.5Mts.E', '90Deg.20Mts.E', '90Deg.39Mts.E',
       '90Deg.14Mts.E', '90Deg.42Mts.E', '91Deg.49Mts.E', '91Deg.11Mts.E',
       '91Deg.56Mts.E', '91Deg.25Mts.E', '91Deg.6Mts.E', '91Deg.51Mts.E',
       '92Deg.12Mts.E', '91Deg.26Mts.E', '91Deg.42Mts.E', '92Deg.18Mts.E'],
      dtype=object)

In [14]:
df_pressure['Longitude'].nunique()

32

In [15]:
df_pressure['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [16]:
df_pressure['Year'].nunique()

44

In [17]:
# Find unique values in 'Month column
df_pressure['Month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [18]:
# Find unique values in 'Day column
df_pressure['Day'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

In [19]:
# Find data types 'Day column
df_pressure['Day'].dtypes

dtype('O')

In [20]:
# Convert the Day column to numeric
df_pressure['Day'] = pd.to_numeric(df_pressure['Day'])
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,1011.7
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,1014.8
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,1013.4
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,1011.2
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,1011.4
...,...,...,...,...,...,...,...,...,...
4309243,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,9,31,1014.7
4309244,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,12,31,1014.9
4309245,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,15,31,1016.5
4309246,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,18,31,1016.4
4309247,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,21,31,1016

In [21]:
## Find the datatypes of the columns again
df_pressure.dtypes

StationName             object
StationID                int64
Latitude                object
Longitude               object
Year                     int64
Month                    int64
Time                     int64
Day                      int64
StationLevelPressure    object
dtype: object

In [22]:
# Find unique values in 'Time' column
df_pressure['Time'].unique()

array([ 0,  3,  6,  9, 12, 15, 18, 21])

In [23]:
# Find unique values in 'StationLevelPressure' column
df_pressure['StationLevelPressure'].unique()

array(['1011.7', '1014.8', '1013.4', '1011.2', '1011.4', '1013.8',
       '1012.9', '1012.3', '1014.4', '1013.2', '1011.6', '1014.3',
       '1013.6', '1010.2', '1009.5', '1009.7', '1010.8', '1008.9',
       '1005.6', '1012.4', '1009.1', '1006.5', '1009', '1010.4', '1009.9',
       '1007.4', '1008.3', '1005', '1004.6', '1007.1', '1007', '1005.8',
       '1004.7', '1003.6', '1003.2', '1005.3', '1005.1', '997.8', '998.8',
       '999', '996.5', '996.1', '999.3', '999.2', '998.9', '997.9',
       '999.9', '998.6', '999.4', '998.3', '1002', '1003', '1001.9',
       '1001.1', '1001.5', '999.8', '1007.2', '1005.9', '1005.4',
       '1005.5', '1013', '1015.1', '1013.3', '1011', '1011.9', '1013.1',
       '1011.1', '1014', '1012.1', '1015', '1012.8', '******', '1015.9',
       '1013.9', '1016.3', '1014.9', '1009.3', '1010.5', '1008.2', '1008',
       '1008.5', '1007.6', '1006.6', '1006', '1008.7', '1010.1', '1001.4',
       '1003.5', '1002.5', '1000.8', '1001.3', '996', '997', '996.9',
       '995.4', '995.8', '999.5', '999.7', '996.8', '1000', '1002.8',
       '1003.1', '1002.2', '1000.3', '1002.7', '1003.9', '1004.3',
       '1003.8', '1004.8', '1009.6', '1008.1', '1007.8', '1017', '1015.6',
       '1013.5', '1015.7', '1015.4', '1015.8', '1014.1', '1016.4',
       '1012.5', '1011.8', '1010', '1010.7', '1000.1', '998', '1000.7',
       '1001.6', '1007.7', '1003.3', '1000.5', '997.3', '996.2', '996.3',
       '998.4', '997.6', '995', '995.3', '995.7', '995.1', '992.5',
       '992.6', '994.5', '994', '992.1', '1004', '1002.9', '1004.1',
       '1006.7', '1009.8', '1006.2', '1006.8', '1011.5', '1012', '1012.2',
       '1014.2', '1017.2', '1013.7', '1012.6', '1012.7', '1011.3',
       '1004.5', '1004.2', '1000.4', '1001.8', '1002.3', '998.7',
       '1000.9', '1001', '1000.6', '1006.9', '1003.7', '1004.4', '1005.7',
       '1000.2', '1009.2', '1009.4', '1016.9', '1018.5', '1014.6',
       '1016.7', '1016.1', '1017.9', '1016.2', '1015.5', '1007.3',
       '1010.9', '1007.5', '1005.2', '995.2', '993.1', '992.8', '995.5',
       '996.7', '997.2', '999.6', '1015.2', '1014.5', '1006.3', '998.1',
       '997.4', '997.7', '995.6', '1002.1', '1001.7', '1001.2', '1010.3',
       '1014.7', '1016.6', '1004.9', '1008.4', '1006.4', '1008.6',
       '1006.1', '1002.4', '1007.9', '1017.4', '1017.3', '999.1',
       '1002.6', '1010.6', '1018', '1016', '1008.8', '1003.4', '995.9',
       '994.6', '993.3', '994.2', '1015.3', '1017.7', '1020.2', '1021.9',
       '1020.4', '1017.5', '1017.8', '1019.6', '1019.8', '1018.7',
       '998.2', '996.4', '994.4', '994.1', '997.1', '1016.5', '1019',
       '1018.8', '998.5', '1017.1', '1019.2', '1016.8', '1021.1',
       '1019.1', '996.6', '1018.2', '993.5', '991.7', '992.2', '992.7',
       '993.2', '991.8', '1018.3', '1017.6', '997.5', '1019.5', '1018.1',
       '1018.4', '993.9', '1019.3', '991.5', '994.3', '994.9', '1018.6',
       '993.8', '994.8', '1018.9', '992', '991.6', '993.6', '992.3',
       '1021.4', '1019.4', '994.7', '993', '991', '990.1', '991.3',
       '993.4', '993.7', '1020', '992.4', '1021.8', '1020.3', '991.9',
       '1019.9', '992.9', '991.4', '990.2', '990', '1022.3', '1023.2',
       '1021.3', '99.6', '1020.5', '1020.9', '1020.8', '991.1', '1020.7',
       '990.6', '990.4', '991.2', '990.8', '989.9', '989.4', '989.2',
       '990.7', '990.3', '1020.1', '1021.6', '988.9', '989.5', '990.9',
       '990.5', '989.8', '989', '987.2', '986.5', '988.3', '988.2',
       '988.6', '989.1', '1021.7', '987.9', '989.7', '1020.6', '1019.7',
       '1022.4', '100.8', '1022.2', '989.3', '989.6', '987.7', '1022.6',
       '1021', '4101.2', '1022.5', '1022.7', '0', '988.8', '987',
       '1021.2', '101.3', '91.1', '1021.5', '987.8', '988.7', '987.6',
       '988.5', '988.4', '0.4', '986.8', '987.5', '987.1', '987.3', '988',
       '4008.6', '1.4', '988.1', '107', '103.4', '1091.1', '1022.1',
       '1541', '99.9', '100.9', '4.5', '986.3', '125.1', '101.8', '971.4',
       '102.5', '5.1', '5100.7', '1103.3', '986.6', '100.5', '986.4',
       '1310.1', '1022', '101.6', '6.1', '2101.2', '115.4', '1023',
       '985.8', '985.1', '984.2', '985.5', '985.6', '15.1', '101.2',
       '113.2', '1810.7', '7', '986', '5610', '104.6', '987.4', '986.7',
       '1.9', '13.5', '101.4', '4101.5', '982.9', '99.3', '985.7', '5.5',
       '983.1', '982.1', '984.8', '2006.2', '984.1', '983.7', '986.2',
       '109.8', '100', '7100.8', '16.7', '9.5', '105.3', '100.4', '76.1',
       '100.6', '985.3', '984.7', '89.1', '7.1', '13.2', '8310.1', '101',
       '1.6', '966.8', '5.6', '6.4', '0.1', '1107.1', '4.9', '986.1',
       '108.3', '2100.8', '151.1', '2109', '10.7', '2101.5', '338',
       '12.5', '109.3', '1099.9', '5.3', '58.1', '6101.1', '7.3', '1085',
       '2020', '2011.8', '9.2', '1084.1', '6.2', '1023.1', '1099.8',
       '101.5', '109.1', '1076.9', '99.5', '96.1', '4100.7', '1028.1',
       '11.2', '12.3', '11.4', '132.1', '99.8', '1101.3', '100.7',
       '107.1', '2.9', '900.4', '100.1', '101.9', '100.3', '10', '16.5',
       '985.2', '985.9', '180.1', '6100.7', '145.1', '1112.5', '986.9',
       '5.8', '16', '10.2', '1100.1', '6100.3', '5.4', '103.3', '1037.8',
       '106.8', '1999.7', '984.3', '12.7', '966.1', '13.8', '102.8',
       '4099.9', '11.9', '14.3', '1097.8', '4100.5', '9', '2.2', '109.7',
       '99.4', '6.5', '102.1', '107.8', '105.7', '11.3', '8.4', '984.6',
       '1101.1', '109', '2.7', '100.2', '15.5', '18.3', '1661', '664',
       '981.1', '981.7', '1039.8', '0.9', '983.9', '982.7', '985.4',
       '984.5', '983', '3101.3', '983.2', '984', '103.9', '106.2', '93.1',
       '106.6', '102.3', '7.9', '103.2', '10.6', '983.4', '7.5', '101.1',
       '984.4', '15.4', '8.6', '109.2', '0.5', '1641', '99.7', '8.5',
       '106.5', '102.6', '14.2', '9.6', '5.9', '109.6', '6099.5', '13',
       '982.6', '6.3', '979.6', '980.8', '9.3', '106.1', '983.8', '982.2',
       '973', '974.2', '983.6', '974.6', '7100.5', '984.9', '973.1',
       '12.6', '6.6', '981.4', '982.4', '977.3', '976.8', '98.5', '985',
       '979.5', '8101.2', '979.7', '974', '6100', '15.2', '973.8',
       '980.5', '976', '982.8', '6099.7', '104.5', '4.1', '107.4', '3.5',
       '106.4', '6', '1039.1', '889.6', '1068.2', '157.1', '107.9',
       '980.6', '101.7', '109.5', '1022.9', '2101.7', '15.3', '1022.8',
       '54.1', '6100.8', '6101.2', '15.8', '9.9', '3009.5', '966.6',
       '9.8', '15', '106', '104.1', '15.7', '8.2', '1401.5', '111.3',
       '980', '980.4', '983.5', '981.6', '980.9', '978.5', '113.4',
       '979.1', '971.3', '964.3', '982.5', '972.6', '147.1', '981.2',
       '979.8', '794.6', '981.9', '979.2', '981.5', '983.3', '979.3',
       '103', '3.2', '1029.3', '980.3', '1093.1', '966.7', '968.3',
       '2100.1', '14.1', '3007.5', '5.2', '4012.3', '102.4', '970.2',
       '8.3', '6.8', '1034.5', '982', '8100.5', '978.7', '9999.6',
       '3101.6', '0.7', '1101.5', '3610', '2610.1', nan, '3.4', '336',
       '1', '3100.9', '11.6', '972.4', '970.5', '975.5', '969.2', '978.2',
       '972.5', '943.2', '2.6', '104.8', '16.8', '11.8', '116.5', '980.2',
       '980.7', '978.3', '978.1', '15.6', '977.7', '978.8', '977.5',
       '972.1', '111', '98.3', '9971', '97.6'], dtype=object)

## **Handling Missing value and Unwanted Symbol**

In [24]:
## Count the number of '******' in the value column
df_pressure['StationLevelPressure'][df_pressure['StationLevelPressure'] == '******'].count()

np.int64(130725)

In [25]:
# Filter rows where 'StationLevelPressure' is '*******'
rows_with_asterisks = df_pressure[df_pressure['StationLevelPressure'] == '******']

# Display the rows
rows_with_asterisks

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
103,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,1,21,1,******
111,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,2,21,1,******
119,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,3,21,1,******
127,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,4,21,1,******
135,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,5,21,1,******
...,...,...,...,...,...,...,...,...,...
4308187,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2011,12,9,31,******
4308188,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2011,12,12,31,******
4308189,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2011,12,15,31,******
4308190,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2011,12,18,31,******
4308191,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2011,12,21,31,******

In [26]:
# Filter rows where 'StationLevelPressure' is '******'
rows_with_asterisks = df_pressure[df_pressure['StationLevelPressure'] == '******']

# Group by 'StationName' and display the results
station_specific_results = rows_with_asterisks.groupby('StationName')

# Display results for each station
for station, data in station_specific_results:
    print(f"Station: {station}")
    print(data, '\n')

Station: Barishal
        StationName  StationID       Latitude      Longitude  Year  Month  \
2156488    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156489    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156490    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156491    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156492    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156493    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156494    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2156495    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2294914    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      5
2295496    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295497    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295498    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295499    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295500    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295501    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295502    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2295503    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434504    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434505    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434506    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434507    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434508    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434509    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434510    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434511    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2434716    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1989      8
2573512    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573513    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573514    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573515    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573516    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573517    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573518    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2573519    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712520    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712521    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712522    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712523    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712524    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712525    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712526    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2712527    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851528    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851529    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851530    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851531    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851532    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851533    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851534    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
2851535    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6
3962976    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
3962977    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
3962978    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
4241956    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1991      1
4241957    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1991      1

         Time  Day StationLevelPressure
2156488     0   16               ******
2156489     3   16               ******
2156490     6   16               ******
2156491     9   16               ******
2156492    12   16               ******
2156493    15   16               ******
2156494    18   16               ******
2156495    21   16               ******
2294914     6   17               ******
2295496     0   17               ******
2295497     3   17               ******
2295498     6   17               ******
2295499     9   17               ******
2295500    12   17               ******
2295501    15   17               ******
2295502    18   17               ******
2295503    21   17               ******
2434504     0   18               ******
2434505     3   18               ******
2434506     6   18               ******
2434507     9   18               ******
2434508    12   18               ******
2434509    15   18               ******
2434510    18   18               ******
2434511    21   18               ******
2434716    12   18               ******
2573512     0   19               ******
2573513     3   19               ******
2573514     6   19               ******
2573515     9   19               ******
2573516    12   19               ******
2573517    15   19               ******
2573518    18   19               ******
2573519    21   19               ******
2712520     0   20               ******
2712521     3   20               ******
2712522     6   20               ******
2712523     9   20               ******
2712524    12   20               ******
2712525    15   20               ******
2712526    18   20               ******
2712527    21   20               ******
2851528     0   21               ******
2851529     3   21               ******
2851530     6   21               ******
2851531     9   21               ******
2851532    12   21               ******
2851533    15   21               ******
2851534    18   21               ******
2851535    21   21               ******
3962976     0   29               ******
3962977     3   29               ******
3962978     6   29               ******
4241956    12   31               ******
4241957    15   31               ******

Station: Bhola
        StationName  StationID       Latitude      Longitude  Year  Month  \
76224         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
76225         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
76226         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
76227         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
76228         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
...             ...        ...            ...            ...   ...    ...
3133833       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1988      2
3134426       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      4
3551492       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      9
3691000       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1999     12
3968650       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1996      2

         Time  Day StationLevelPressure
76224       0    1               ******
76225       3    1               ******
76226       6    1               ******
76227       9    1               ******
76228      12    1               ******
...       ...  ...                  ...
3133833     3   23               ******
3134426     6   23               ******
3551492    12   26               ******
3691000     0   27               ******
3968650     6   29               ******

[117 rows x 9 columns]

Station: Bogura
        StationName  StationID       Latitude      Longitude  Year  Month  \
28389        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1985      9
31032        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  2013      4
31033        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  2013      4
31034        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  2013      4
31035        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  2013      4
...             ...        ...            ...            ...   ...    ...
4199035      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1989     12
4199036      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1989     12
4199037      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1989     12
4199038      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1989     12
4199039      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1989     12

         Time  Day StationLevelPressure
28389      15    1               ******
31032       0    1               ******
31033       3    1               ******
31034       6    1               ******
31035       9    1               ******
...       ...  ...                  ...
4199035     9   31               ******
4199036    12   31               ******
4199037    15   31               ******
4199038    18   31               ******
4199039    21   31               ******

[342 rows x 9 columns]

Station: Chandpur
        StationName  StationID       Latitude      Longitude  Year  Month  \
366075     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      4
922121     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      6
1478098    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987     11
1617129    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      2
2172880    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1985      3
2312107    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2312108    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2312109    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2312110    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2312111    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451112    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451113    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451114    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451115    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451116    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451117    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451118    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451119    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2451209    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      6
2590120    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590121    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590122    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590123    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590124    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590125    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590126    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2590127    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729128    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729129    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729130    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729131    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729132    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729133    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729134    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2729135    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868136    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868137    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868138    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868139    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868140    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868141    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868142    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868143    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
2868194    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      1
2868235    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      6
3006911    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1984     12
3007144    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007145    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007146    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007147    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007148    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007149    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007150    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3007151    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3146152    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3146153    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3146154    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3146155    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3146156    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
4258663    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1992      1

         Time  Day StationLevelPressure
366075      9    3               ******
922121      3    7               ******
1478098     6   11               ******
1617129     3   12               ******
2172880     0   16               ******
2312107     9   17               ******
2312108    12   17               ******
2312109    15   17               ******
2312110    18   17               ******
2312111    21   17               ******
2451112     0   18               ******
2451113     3   18               ******
2451114     6   18               ******
2451115     9   18               ******
2451116    12   18               ******
2451117    15   18               ******
2451118    18   18               ******
2451119    21   18               ******
2451209     3   18               ******
2590120     0   19               ******
2590121     3   19               ******
2590122     6   19               ******
2590123     9   19               ******
2590124    12   19               ******
2590125    15   19               ******
2590126    18   19               ******
2590127    21   19               ******
2729128     0   20               ******
2729129     3   20               ******
2729130     6   20               ******
2729131     9   20               ******
2729132    12   20               ******
2729133    15   20               ******
2729134    18   20               ******
2729135    21   20               ******
2868136     0   21               ******
2868137     3   21               ******
2868138     6   21               ******
2868139     9   21               ******
2868140    12   21               ******
2868141    15   21               ******
2868142    18   21               ******
2868143    21   21               ******
2868194     6   21               ******
2868235     9   21               ******
3006911    21   22               ******
3007144     0   22               ******
3007145     3   22               ******
3007146     6   22               ******
3007147     9   22               ******
3007148    12   22               ******
3007149    15   22               ******
3007150    18   22               ******
3007151    21   22               ******
3146152     0   23               ******
3146153     3   23               ******
3146154     6   23               ******
3146155     9   23               ******
3146156    12   23               ******
4258663    21   31               ******

Station: Chittagong
        StationName  StationID       Latitude      Longitude  Year  Month  \
94072    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94073    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94074    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94075    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94076    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
...             ...        ...            ...            ...   ...    ...
4266160  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      3
4266161  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      3
4266162  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      3
4266163  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      3
4266164  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      3

         Time  Day StationLevelPressure
94072       0    1               ******
94073       3    1               ******
94074       6    1               ******
94075       9    1               ******
94076      12    1               ******
...       ...  ...                  ...
4266160     0   31               ******
4266161     3   31               ******
4266162     6   31               ******
4266163     9   31               ******
4266164    12   31               ******

[752 rows x 9 columns]

Station: Chuadanga
        StationName  StationID       Latitude      Longitude  Year  Month  \
52037     Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1989      1
52038     Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1989      1
52039     Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1989      1
52045     Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1989      2
52046     Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1989      2
...             ...        ...            ...            ...   ...    ...
4224283   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2011     12
4224284   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2011     12
4224285   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2011     12
4224286   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2011     12
4224287   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2011     12

         Time  Day StationLevelPressure
52037      15    1               ******
52038      18    1               ******
52039      21    1               ******
52045      15    1               ******
52046      18    1               ******
...       ...  ...                  ...
4224283     9   31               ******
4224284    12   31               ******
4224285    15   31               ******
4224286    18   31               ******
4224287    21   31               ******

[1252 rows x 9 columns]

Station: Cox'sBazar
        StationName  StationID       Latitude      Longitude  Year  Month  \
101824   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
101825   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
101826   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
101827   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
101828   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
...             ...        ...            ...            ...   ...    ...
4272077  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4272078  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4272079  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4272484  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1985      1
4272788  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1988      3

         Time  Day StationLevelPressure

In [27]:
# To find the null values
df_pressure.isnull().sum()

StationName                 0
StationID                   0
Latitude                    0
Longitude                   0
Year                        0
Month                       0
Time                        0
Day                         0
StationLevelPressure    78200
dtype: int64

In [28]:
# Replace '******' with NaN in the original DataFrame
df_pressure.loc[df_pressure['StationLevelPressure'] == '******', 'StationLevelPressure'] = np.nan

In [29]:
# To find the null values
df_pressure.isnull().sum()

StationName                  0
StationID                    0
Latitude                     0
Longitude                    0
Year                         0
Month                        0
Time                         0
Day                          0
StationLevelPressure    208925
dtype: int64

In [30]:
# Step 2: Convert 'StationLevelPressure' to numeric, coercing errors (turn non-numeric to NaN)
df_pressure['StationLevelPressure'] = pd.to_numeric(df_pressure['StationLevelPressure'], errors='coerce')

# Group by StationName, Month, Day, and Time, and calculate the mean for each group
StationLevelPressure_mean = df_pressure.groupby(['StationName', 'Month', 'Day', 'Time'])['StationLevelPressure'].transform('mean')

# Replace '******' (NaN values) with the mean of the same station, month, day, and time
df_pressure['StationLevelPressure'] = df_pressure['StationLevelPressure'].fillna(StationLevelPressure_mean)

# Verify the result
print(df_pressure)

        StationName  StationID       Latitude      Longitude  Year  Month  \
0             Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
1             Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
2             Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
3             Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
4             Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
...             ...        ...            ...            ...   ...    ...
4309243      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2022     12
4309244      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2022     12
4309245      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2022     12
4309246      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2022     12
4309247      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2022     12

         Time  Day  StationLevelPressure
0           0    1                1011.7
1           3    1                1014.8
2           6    1                1013.4
3           9    1                1011.2
4          12    1                1011.4
...       ...  ...                   ...
4309243     9   31                1014.7
4309244    12   31                1014.9
4309245    15   31                1016.5
4309246    18   31                1016.4
4309247    21   31                1016.0

[4309248 rows x 9 columns]

In [31]:
# Check it again to  find the null values
df_pressure.isnull().sum()

StationName                 0
StationID                   0
Latitude                    0
Longitude                   0
Year                        0
Month                       0
Time                        0
Day                         0
StationLevelPressure    66488
dtype: int64

In [32]:
# Check rows where 'StationLevelPressure' is still NaN after replacement
rows_with_nan = df_pressure[df_pressure['StationLevelPressure'].isna()]

# If there are still rows with NaN, inspect them
rows_with_nan

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
4031240,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,0,30,NaN
4031241,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,3,30,NaN
4031242,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,6,30,NaN
4031243,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,9,30,NaN
4031244,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,12,30,NaN
...,...,...,...,...,...,...,...,...,...
4309235,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,11,9,31,NaN
4309236,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,11,12,31,NaN
4309237,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,11,15,31,NaN
4309238,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,11,18,31,NaN
4309239,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,11,21,31,NaN

In [33]:
# Sample: Define valid days for each month (for non-leap years)
valid_days_per_month = {
    1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
    7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
}

# Adjust for leap years (for February only)
def is_leap_year(year):
    return (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))

# Add a column to check if a year is a leap year
df_pressure['IsLeapYear'] = df_pressure['Year'].apply(is_leap_year)

# Adjust February days for leap years
df_pressure.loc[df_pressure['IsLeapYear'], 'ValidDays'] = df_pressure.loc[df_pressure['IsLeapYear'], 'Month'].apply(lambda month: 29 if month == 2 else valid_days_per_month[month])
df_pressure.loc[~df_pressure['IsLeapYear'], 'ValidDays'] = df_pressure.loc[~df_pressure['IsLeapYear'], 'Month'].apply(lambda month: valid_days_per_month[month])

In [34]:
# Remove rows where 'Day' is greater than the valid days for that month
df_pressure = df_pressure[df_pressure['Day'] <= df_pressure['ValidDays']]

In [35]:
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure,IsLeapYear,ValidDays
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,1011.7,True,31.0
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,1014.8,True,31.0
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,1013.4,True,31.0
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,1011.2,True,31.0
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,1011.4,True,31.0
...,...,...,...,...,...,...,...,...,...,...,...
4309243,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,9,31,1014.7,False,31.0
4309244,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,12,31,1014.9,False,31.0
4309245,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,15,31,1016.5,False,31.0
4309246,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,18,31,1016.4,False,31.0
4309247,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,21,31,1016.0,False,31.0

In [36]:
# Check rows where 'StationLevelPressure' is still NaN after replacement
rows_with_nan = df_pressure[df_pressure['StationLevelPressure'].isna()]

# If there are still rows with NaN, inspect them
rows_with_nan

Empty DataFrame
Columns: [StationName, StationID, Latitude, Longitude, Year, Month, Time, Day, StationLevelPressure, IsLeapYear, ValidDays]
Index: []

In [37]:
# Check it again to  find the null values
df_pressure.isnull().sum()

StationName             0
StationID               0
Latitude                0
Longitude               0
Year                    0
Month                   0
Time                    0
Day                     0
StationLevelPressure    0
IsLeapYear              0
ValidDays               0
dtype: int64

In [38]:
df_pressure = df_pressure.drop(columns=['IsLeapYear', 'ValidDays'])

In [39]:
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,1011.7
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,1014.8
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,1013.4
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,1011.2
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,1011.4
...,...,...,...,...,...,...,...,...,...
4309243,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,9,31,1014.7
4309244,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,12,31,1014.9
4309245,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,15,31,1016.5
4309246,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,18,31,1016.4
4309247,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2022,12,21,31,1016.0

## **Coverting Latitude and Longitude to Numerical Value**

In [40]:
df_pressure.dtypes

StationName              object
StationID                 int64
Latitude                 object
Longitude                object
Year                      int64
Month                     int64
Time                      int64
Day                       int64
StationLevelPressure    float64
dtype: object

In [41]:
def convert_to_decimal(deg_min, direction):
    """
    Converts degree-minute format to decimal degrees.
    Example Input: "23Deg.46Mts.N" -> Output: 23.7667
    """
    parts = deg_min.split("Deg.")
    degrees = float(parts[0])
    minutes = float(parts[1].split("Mts.")[0])

    decimal = degrees + (minutes / 60)

    # Convert South/West to negative
    if direction in ["S", "W"]:
        decimal = -decimal

    return decimal

# Example usage
latitude = convert_to_decimal("23Deg.46Mts.", "N")
longitude = convert_to_decimal("90Deg.23Mts.", "E")

print(latitude, longitude)  # Output: 23.7667, 90.3833

23.766666666666666 90.38333333333334

In [42]:
df_pressure["Latitude"] = df_pressure["Latitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (N/S)
df_pressure["Longitude"] = df_pressure["Longitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (E/W)
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,1011.7
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,1014.8
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,1013.4
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,1011.2
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,1011.4
...,...,...,...,...,...,...,...,...,...
4309243,Teknaf,11929,20.866667,92.300000,2022,12,9,31,1014.7
4309244,Teknaf,11929,20.866667,92.300000,2022,12,12,31,1014.9
4309245,Teknaf,11929,20.866667,92.300000,2022,12,15,31,1016.5
4309246,Teknaf,11929,20.866667,92.300000,2022,12,18,31,1016.4
4309247,Teknaf,11929,20.866667,92.300000,2022,12,21,31,1016.0

In [43]:
# Check for invalid days (e.g., day > 31 or day > max days in the month)
invalid_dates = df_pressure[(df_pressure['Day'] > 31) | (df_pressure['Month'] > 12)]
print(invalid_dates)

Empty DataFrame
Columns: [StationName, StationID, Latitude, Longitude, Year, Month, Time, Day, StationLevelPressure]
Index: []

## **Creating Date Time Column**

In [44]:
import calendar

# Function to check if a date is valid
def is_invalid_date(row):
    days_in_month = calendar.monthrange(row['Year'], row['Month'])[1]
    return row['Day'] > days_in_month

# Remove invalid rows
df_pressure = df_pressure[~df_pressure.apply(is_invalid_date, axis=1)].reset_index(drop=True)

# Convert datetime again
df_pressure['Datetime'] = pd.to_datetime(df_pressure[['Year', 'Month', 'Day']]) + pd.to_timedelta(df_pressure['Time'], unit='h')

print(df_pressure.info())  # Verify that datetime is correctly created

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231032 entries, 0 to 4231031
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   StationName           object
 1   StationID             int64
 2   Latitude              float64
 3   Longitude             float64
 4   Year                  int64
 5   Month                 int64
 6   Time                  int64
 7   Day                   int64
 8   StationLevelPressure  float64
 9   Datetime              datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(5), object(1)
memory usage: 322.8+ MB
None

In [45]:
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure,Datetime
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,1011.7,1980-01-01 00:00:00
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,1014.8,1980-01-01 03:00:00
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,1013.4,1980-01-01 06:00:00
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,1011.2,1980-01-01 09:00:00
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,1011.4,1980-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4231027,Teknaf,11929,20.866667,92.300000,2022,12,9,31,1014.7,2022-12-31 09:00:00
4231028,Teknaf,11929,20.866667,92.300000,2022,12,12,31,1014.9,2022-12-31 12:00:00
4231029,Teknaf,11929,20.866667,92.300000,2022,12,15,31,1016.5,2022-12-31 15:00:00
4231030,Teknaf,11929,20.866667,92.300000,2022,12,18,31,1016.4,2022-12-31 18:00:00
4231031,Teknaf,11929,20.866667,92.300000,2022,12,21,31,1016.0,2022-12-31 21:00:00

In [46]:
print(df_pressure["Datetime"].apply(type).value_counts())

Datetime
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    4231032
Name: count, dtype: int64

In [47]:
print(df_pressure.duplicated().sum())  # Check for duplicate rows

3241

In [48]:
# Find duplicate rows
duplicates = df_pressure[df_pressure.duplicated()]

# Show the duplicate rows
duplicates

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure,Datetime
103968,Cox'sBazar,11927,21.433333,91.933333,2002,1,0,1,1015.600000,2002-01-01 00:00:00
103969,Cox'sBazar,11927,21.433333,91.933333,2002,1,3,1,1017.900000,2002-01-01 03:00:00
103970,Cox'sBazar,11927,21.433333,91.933333,2002,1,6,1,1016.100000,2002-01-01 06:00:00
103971,Cox'sBazar,11927,21.433333,91.933333,2002,1,9,1,1014.200000,2002-01-01 09:00:00
103972,Cox'sBazar,11927,21.433333,91.933333,2002,1,12,1,1015.400000,2002-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4216623,Kutubdia,11925,21.816667,91.850000,1980,7,21,31,1001.882051,1980-07-31 21:00:00
4224368,Sandwip,11916,22.483333,91.433333,1989,12,12,31,1011.700000,1989-12-31 12:00:00
4224369,Sandwip,11916,22.483333,91.433333,1989,12,15,31,1013.300000,1989-12-31 15:00:00
4224370,Sandwip,11916,22.483333,91.433333,1989,12,18,31,1013.000000,1989-12-31 18:00:00
4224371,Sandwip,11916,22.483333,91.433333,1989,12,21,31,1012.500000,1989-12-31 21:00:00

In [49]:
# Remove all duplicate rows (considering all columns)
df_pressure = df_pressure.drop_duplicates()

# Display the cleaned DataFrame
df_pressure

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,StationLevelPressure,Datetime
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,1011.7,1980-01-01 00:00:00
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,1014.8,1980-01-01 03:00:00
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,1013.4,1980-01-01 06:00:00
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,1011.2,1980-01-01 09:00:00
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,1011.4,1980-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4231027,Teknaf,11929,20.866667,92.300000,2022,12,9,31,1014.7,2022-12-31 09:00:00
4231028,Teknaf,11929,20.866667,92.300000,2022,12,12,31,1014.9,2022-12-31 12:00:00
4231029,Teknaf,11929,20.866667,92.300000,2022,12,15,31,1016.5,2022-12-31 15:00:00
4231030,Teknaf,11929,20.866667,92.300000,2022,12,18,31,1016.4,2022-12-31 18:00:00
4231031,Teknaf,11929,20.866667,92.300000,2022,12,21,31,1016.0,2022-12-31 21:00:00

In [50]:
print(df_pressure.duplicated().sum())  # Check for duplicate rows

0

In [51]:
print(df_pressure.groupby("StationID")["Datetime"].nunique())  # Check number of unique timestamps per station

StationID
10120    125640
10208    128568
10320    128568
10408    128568
10609    128568
10705    128568
10724    122728
10910    128568
11111    128568
11313    125648
11316    125640
11407    128568
11505    128568
11513    125648
11604    128568
11610    128568
11704    128568
11706    128568
11805    128568
11809    128568
11814    122712
11912    125648
11916    125648
11921    113960
11925    116632
11927    125648
11929    125648
12007    128568
12103    122720
12110    128568
41858     96424
41909     84736
41926     96424
41958     84736
41977     73048
Name: Datetime, dtype: int64

In [52]:
# Reorganizing columns
df_pressure = df_pressure[[
    'Datetime', 'StationName',
    'StationID', 'Latitude', 'Longitude',
    'Year', 'Month', 'Day', 'Time',
    'StationLevelPressure'
]]

# Display the first few rows to confirm
df_pressure.head()

,Datetime,StationName,StationID,Latitude,Longitude,Year,Month,Day,Time,StationLevelPressure
0,1980-01-01 00:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,0,1011.7
1,1980-01-01 03:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,3,1014.8
2,1980-01-01 06:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,6,1013.4
3,1980-01-01 09:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,9,1011.2
4,1980-01-01 12:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,12,1011.4

## **Data Summary**

In [53]:
print(df_pressure.info())  # Check data types and missing values
print(df_pressure.describe())  # Summary statistics for numeric columns
print(df_pressure["Datetime"].min(), df_pressure["Datetime"].max())  # Verify datetime range
print(df_pressure.duplicated().sum())  # Check for duplicate rows

<class 'pandas.core.frame.DataFrame'>
Index: 4227791 entries, 0 to 4231031
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Datetime              datetime64[ns]
 1   StationName           object
 2   StationID             int64
 3   Latitude              float64
 4   Longitude             float64
 5   Year                  int64
 6   Month                 int64
 7   Day                   int64
 8   Time                  int64
 9   StationLevelPressure  float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(1)
memory usage: 354.8+ MB
None
                            Datetime     StationID      Latitude  \
count                        4227791  4.227791e+06  4.227791e+06
mean   2002-10-14 07:06:16.387194752  1.453819e+04  2.331640e+01
min              1980-01-01 00:00:00  1.012000e+04  2.086667e+01
25%              1992-03-19 00:00:00  1.111100e+04  2.248333e+01
50%              2003-01-17 21:00:00  1.170400e+04  2.316667e+01
75%              2013-08-09 09:00:00  1.192700e+04  2.425000e+01
max              2023-12-31 21:00:00  4.197700e+04  2.578333e+01
std                              NaN  9.295948e+03  1.185596e+00

          Longitude          Year         Month           Day          Time  \
count  4.227791e+06  4.227791e+06  4.227791e+06  4.227791e+06  4.227791e+06
mean   9.048408e+01  2.002284e+03  6.521523e+00  1.572953e+01  1.050005e+01
min    8.868333e+01  1.980000e+03  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.936667e+01  1.992000e+03  4.000000e+00  8.000000e+00  3.000000e+00
50%    9.038333e+01  2.003000e+03  7.000000e+00  1.600000e+01  1.200000e+01
75%    9.170000e+01  2.013000e+03  1.000000e+01  2.300000e+01  1.800000e+01
max    9.230000e+01  2.023000e+03  1.200000e+01  3.100000e+01  2.100000e+01
std    1.123338e+00  1.250761e+01  3.448927e+00  8.800043e+00  6.873884e+00

       StationLevelPressure
count          4.227791e+06
mean           1.006422e+03
min            0.000000e+00
25%            1.002200e+03
50%            1.006900e+03
75%            1.011400e+03
max            9.999600e+03
std            2.263928e+01
1980-01-01 00:00:00 2023-12-31 21:00:00
0

In [54]:
print(df_pressure.isnull().sum())

Datetime                0
StationName             0
StationID               0
Latitude                0
Longitude               0
Year                    0
Month                   0
Day                     0
Time                    0
StationLevelPressure    0
dtype: int64

In [55]:
print(df_pressure.duplicated(subset=['StationID', 'Datetime']).sum())

2847

In [56]:
print(df_pressure['StationName'].unique())

['Dhaka' 'Tangail' 'Mymensingh' 'Faridpur' 'Madaripur' 'Srimangal'
 'Sylhet' 'Bogura' 'Dinajpur' 'Ishurdi' 'Rajshahi' 'Rangpur' 'Saidpur'
 'Chuadanga' 'Jessore' 'Khulna' 'Mongla' 'Satkhira' 'Barishal' 'Bhola'
 'Khepupara' 'Patuakhali' 'Chandpur' 'Ambagan(Ctg.)' 'Chittagong'
 'Cumilla' "Cox'sBazar" 'Feni' 'Hatiya' 'Kutubdia' 'Maijdee_court'
 'Rangamati' 'Sandwip' 'Sitakunda' 'Teknaf']

In [57]:
print(df_pressure['Datetime'].is_monotonic_increasing)

False

In [58]:
df_pressure['StationLevelPressure'] = df_pressure['StationLevelPressure'].round(1)

## **Saving the Data Finally**

In [59]:
# Save the DataFrame to a CSV file
df_pressure.to_csv('/content/drive/MyDrive/Thesis/Research Data/Preprocessed Data/Processed_station_level_pressure_data.csv', index=False)